<div class="add-product">
    <h2>Add New Product</h2>
    <form #addProduct="ngForm" (ngSubmit)="Submit(addProduct.value)" class="common-form">

        <input type="text" class="form-input" placeholder="Enter product Name" name="Name" ngModel>
        <input type="text" class="form-input" placeholder="Enter product Price" name="Price" ngModel>
        <input type="text" class="form-input" placeholder="Enter product color" name="color" ngModel>
        <input type="text" class="form-input" placeholder="Enter product Category" name="Category" ngModel>
        <input type="text" class="form-input" placeholder="Enter product Description" name="Description" ngModel>
        <input type="text" class="form-input" placeholder="Enter product Image URL" name="URL" ngModel>
        <button class="button-class"> Add Product</button>

    </form>
</div>