<div class="product-list">
    <h1>All Product List</h1>
    <p>{{productMessage}}</p>
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of produnctlist">
               
               <td><img src="{{item.URL}}"/></td> 
               <td>{{item.Name}}</td> 
               <td>{{item.Price}}</td> 
               <td>{{item.color}}</td>
               <td>{{item.Category}}</td> 
               <td>{{item.Description}}</td> 
               <td><button (click)="DeleteProductId(item.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

</div>