.product-list {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #3498db; /* Blue border */
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-list h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50; /* Dark blue-grey */
    font-size: 2em;
    text-shadow: 1px 1px 2px #95a5a6; /* Light grey shadow */
}

.product-list table {
    width: 100%;
    border-collapse: collapse;
    transition: all 0.3s ease;
}

.product-list th, .product-list td {
    padding: 15px;
    border: 1px solid #bdc3c7; /* Light grey border */
    text-align: left;
    transition: background-color 0.3s ease;
}

.product-list th {
    background-color: #3498db; /* Blue */
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

.product-list tbody tr:nth-child(even) {
    background-color: #ecf0f1; /* Light grey */
}

.product-list tbody tr:nth-child(odd) {
    background-color: #bdc3c7; /* Light grey */
}



.product-list tbody tr td a {
    color: #e74c3c; /* Red */
    text-decoration: none;
    transition: color 0.3s ease;
}

.product-list tbody tr td a:hover {
    color: #c0392b; /* Dark red */
}

.product-list tbody tr td img {
    max-width: 100px;
    border-radius: 5px;
}
.delete-button {
    background-color: #af615a; /* Red background */
    color: white; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-button:hover {
    background-color: #675654; /* Darker red on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.delete-button:active {
    background-color: #7d5c59; /* Even darker red on click */}

    .update-product {
        background-color: #71a373; /* Green background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 10px 20px; /* Padding inside the button */
        text-align: center; /* Centered text */
        text-decoration: none; /* Remove underline */
        display: inline-block; /* Make the element inline-block */
        font-size: 16px; /* Font size */
        margin: 4px 2px; /* Margin around the button */
        cursor: pointer; /* Pointer cursor on hover */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s; /* Smooth transition on hover */
      }
      
      .update-product:hover {
        background-color: #45a049; /* Darker green on hover */
      }