<!-- <div class="seller-auth">
    <div>
        <h1>Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="SignUp(sellerSignUp.value)" class="common-form">

            <input class="input" type="text" ngModel name="name" placeholder="Enter Name">
            <input class="input" type="text"  ngModel email="email"  placeholder="Enter Email">
            <input class="input" type="text"ngModel password="password" placeholder="Enter Password">
            <button class="form-button"> Sign-Up</button>
    
        </form>
    </div>
   

</div> -->
<div class="seller-auth">
    <div>
        <h1>Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="SignUp(sellerSignUp.value)" class="common-form">
            <input class="input" type="text" ngModel name="name" placeholder="Enter Name">
            <input class="input" type="text" ngModel name="email" placeholder="Enter Email">
            <input class="input" type="password" ngModel name="password" placeholder="Enter Password">
            <button class="form-button">Sign-Up</button>
        </form>
    </div>
</div>